global:
  scrape_interval: 1s

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets: ['host.containers.internal:9100']
{% if machine == 'armchair' %}
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'node_hwmon_power_watt'
        target_label: __name__
        replacement: 'consumed_power'
{% endif %}    
{% if machine == 'jetson' %}
  - job_name: 'jetson-node'
    static_configs:
      - targets: ['jetson_stats_node_exporter:9100']
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: 'integrated_power_mW'
        target_label: __name__
        replacement: 'consumed_power_raw_milliwatts'
{% endif %}
  - job_name: ollama
    static_configs:
      - targets: ['ollama-stats:9882']

remote_write:
  - url: 'http://host.containers.internal:9090/api/v1/write'